/c++/lab1.1/CppApplication_1/build/
/c++/lab1.1/CppApplication_1/dist/
/c++/lab1.2/CppApplication_1/build/
/c++/lab1.2/CppApplication_1/dist/
/c++/lab1.3/CppApplication_1/build/
/c++/lab1.3/CppApplication_1/dist/
/c++/lab 1.4/CppApplication_1/build/
/c++/lab 1.4/CppApplication_1/dist/
/c++/lab1.5/CppApplication_1/dist/
/c++/lab1.5/CppApplication_1/build/
/c++/lab1.6/CppApplication_1/dist/
/c++/lab1.6/CppApplication_1/build/
/c++/lab1.7/CppApplication_2/dist/
/c++/lab1.7/CppApplication_2/build/
