/c++/lab1.1/CppApplication_1/build/
/c++/lab1.1/CppApplication_1/dist/
/c++/lab1.2/CppApplication_1/build/
/c++/lab1.2/CppApplication_1/dist/
/c++/lab1.3/CppApplication_1/build/
/c++/lab1.3/CppApplication_1/dist/
